body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: black;
}

.flexible{
    display: flex;
    
}
span{
    color: orange;
}
h3{

}
p{
    margin-bottom: 30px;

}
a{
    
}

.hire{
    text-decoration: none;
    text-align: center;
    max-width: 100px;
   font-weight: 700;
    background-image: linear-gradient( orange , tomato );
    color: white;
    padding: 10px 30px;
    
    border: none;
    font: 20px;
   border-radius: 5px;

    
    
}

.left-div{
    width: 50%;
    padding-left: 50px;
}

.right-div{
    width: 50%;
    padding-left: 250px;
    

}
.right-div img{
    width: 400px;
    height: 500px;
   
}
.top-banner{
 }

.drm-big{
    margin-top: 100px;
}
.left-drm{ 
    width: 50%;
    padding-left: 50px;
 }
 .left-drm img{
    width: 400px;
     height: 500px;
 }

.right-drm{
    width: 50%;

}

.card{
    padding-left: 150px;
    margin-bottom: 150px;
}
.left-card{
    width: 40%;
    border-left: red solid 6px;
    padding-left: 30px;
    box-shadow: 10px 10px 50px gray;

}
.right-card{
    width: 40%;
    margin-left: 5%;
    border-left: blue solid 6px;
    box-shadow: 10px 10px 50px gray;
    padding-left: 30px;

}

.experinces{
    margin-top: 150px;
}
.experinces h1{
    text-align: center;
    padding-bottom: 50px;
}


h6{
    text-align: center;
    font-size: 16px;
    color: #696969;
    padding-bottom: 50px;

}
